---
import Container from "@components/Container.astro";
import MomentsPanel from "@components/Moments.astro";
import { MOMENTS, SITE, SOCIALS } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";

const mastodon =
    SOCIALS.find((social) => social.NAME === "Mastodon" && social.ENABLE !== false) ?? null;
---

<PageLayout title={`${MOMENTS.TITLE} | ${SITE.NAME}`} description={MOMENTS.DESCRIPTION} lang="en">
    <Container>
        <section class="space-y-6 sm:space-y-8">
            {mastodon && (
                <MomentsPanel
                    title="Moments"
                    headingLevel="h1"
                    account="haeward"
                    accountId="114251868212289038"
                    domain="mas.to"
                    profileUrl={mastodon.HREF}
                    limit={40}
                />
            )}
        </section>
    </Container>
</PageLayout>
